* text=auto eol=lf
*.cs text eol=lf
*.csproj text eol=lf
*.xaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.slnx text eol=lf
*.ps1 text eol=crlf
*.idt text eol=crlf
*.ico binary
*.png binary
*.ttf binary
*.woff2 binary
